* {
  margin: 0;
  padding: 0; }

/* Couleurs */
/* Shadow */
/* Font */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

form select {
  width: 100%;
  margin: auto;
  display: block;
  font-size: 20px; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.button_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px; }
  .button_container .btn {
    padding: 5px 7px;
    background: none;
    border: 1px solid #F4F4F4;
    border-radius: 2px;
    margin: 0 5px 5px;
    transition: .2s; }
    .button_container .btn:focus {
      outline: none; }
    .button_container .btn:hover, .button_container .btn.active {
      color: #F4F4F4;
      background: #333C42;
      border: 1px solid #333C42; }

.weather_card {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FAFAFA;
  transform: translateX(-50%) translateY(-50%);
  max-width: calc(100% - 90px);
  width: 500px;
  padding: 30px; }
  .weather_card .title_card {
    margin: 20px 0 10px;
    padding: 5px 0;
    font-family: "Montserrat";
    font-size: 23px;
    text-align: center;
    background: #333C42;
    color: #F4F4F4; }
  .weather_card .subtitle_card {
    font-family: "Montserrat";
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    color: #333C42; }
  .weather_card .text_card {
    font-family: "Montserrat";
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    color: #333C42; }
  .weather_card .wi {
    display: block;
    margin: auto;
    color: #333C42;
    text-align: center;
    font-size: 60px;
    line-height: 90px; }
  .weather_card .row {
    display: flex; }
    .weather_card .row .col_3 {
      width: calc(33.333% - 10px);
      margin-left: 15px; }
      .weather_card .row .col_3:first-child {
        margin-left: 0; }

@media screen and (max-width: 400px) {
  #app .weather_card {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    transform: none; }
    #app .weather_card .row {
      flex-flow: row wrap; }
      #app .weather_card .row .col_3 {
        width: 100%; } }
#app {
  padding: 20px 0;
  position: relative;
  min-height: calc(100vh - 40px);
  min-width: 100%;
  background-image: linear-gradient(45deg, #00c6fb 0%, #005bea 100%); }

/*# sourceMappingURL=style.css.map */
