/* Couleurs */
$blueGradient: linear-gradient(45deg, #00c6fb 0%, #005bea 100%);
$grey:#333C42;
$lightGrey:#F4F4F4;

/* Shadow */
$shadowBox:0px 0px 20px 0px rgba(0,0,0,.2);
/* Font */
$fontText: 'Montserrat';