@media screen and (max-width: 400px){
	#app{
		.weather_card{
			position:relative;
			margin:auto;
			top:0;
			left:0;
			transform:none;
			.row{
				flex-flow: row wrap;
				.col_3{
					width:100%;
				}
			}
		}
	}
}